.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.card-container {
  position: relative;
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}
